[
 {
  "URL": "https://www.youtube.com/channel/UC0aanx5rpr7D1M7KCFYzrLQ",
  "LatestDownloaded": "QM4lxn00L3I",
  "DownloadMode": "Video And Audio",
  "Name": "Uploads from Shoe0nHead",
  "PreferredExtensionForAudio": "",
  "PreferredExtensionForVideo": "mp4",
  "DownloadHistory": [
   "QM4lxn00L3I"
  ],
  "LastChecked": "12-04-2019 19:07:33",
  "CheckingInterval": "",
  "Type": "Channel",
  "DownloadPath": "/channels/%(uploader)s/video/%(title)s.%(ext)s"
 }
]
