{
    server: {
        serverPort: {{ containers.cloudbeaver.port }},
        serverName: "{{ domain }} Cloudbeaver Server",

        workspaceLocation: "workspace",
        contentRoot: "web",
        driversLocation: "drivers",

        rootURI: "/",
        serviceURI: "/dbeaver/",

        productConfiguration: "conf/product.conf",

        expireSessionAfterPeriod: 600000,

        develMode: false,

        database: {
            driver: "h2_embedded",
            url: "jdbc:h2:${workspace}/.data/cb.h2.dat",
            // For embedded database it will be the primary user name/password
            // IMPORTANT! To avoid security hole change this password before the first server start
            user: "{{ containers.cloudbeaver.subdomain }}",
            password: "{{ mariadb.cloudbeaver_passwd }}",

            createDatabase: true,

            initialDataConfiguration: "conf/initial-data.conf",

            pool: {
                minIdleConnections: 4,
                maxIdleConnections: 10,
                maxConnections: 100,
                validationQuery: "SELECT 1"
            }
        }

    },
    app: {
        anonymousAccessEnabled: true,
        authenticationEnabled: true,
        anonymousUserRole: "admin",
        supportsCustomConnections: true

        /*
        enabledDrivers: [
            "postgresql:postgres-jdbc",
            "mysql:mysql8",
            "mysql:mariaDB",
            "generic:sqlite_jdbc",
            "generic:h2_embedded",
            "jaybird:jaybird",
        ]
        */

    }

}
