{
	"folders": {},
	"connections": {
		"Bazarr Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Bazarr Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/bazarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		}
	}{
		"Bazarr 4K Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Bazarr 4K Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/bazarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Emby Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Emby Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/emby.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Jellyfin Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Emby Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/jellyfin.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Lazy Librarian Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Lazy Librarian Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/lazylibrarian.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Lidarr Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Lidarr Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/lidarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Mylar Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Mylar Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/mylar.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Ombi Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Ombi Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/ombi.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Ombi 4k Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Ombi 4k Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/ombi4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Plex Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Plex Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/plex.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Radarr Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Radarr Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/radarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Radarr 4K Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Radarr 4K Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/radarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Sonarr Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Sonarr Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/sonarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Sonarr 4K Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Sonarr 4K Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/sonarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		}{
		"Tautulli Database": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "Tautulli Database",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/tautulli.db",
				"type": "dev",
				"auth-model": "native"
			}
		}
	}
}
