{
	"folders": {},
	"connections": {
		"bazarr": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "bazarr",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/bazarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"bazarr4k": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "bazarr4k",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/bazarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"emby": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "emby",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/emby.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"lazylibrarian": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "lazylibrarian",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/lazylibrarian.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"lidarr": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "lidarr",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/lidarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"mylar": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "mylar",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/mylar.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"ombi": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "ombi",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/ombi.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"ombi4k": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "ombi4k",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/ombi4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"plex": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "plex",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/plex.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"radarr": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "radarr",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/radarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"radarr4k": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "radarr4k",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/radarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"sonarr": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "sonarr",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/sonarr.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"sonarr4k": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "sonarr4k",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/sonarr4k.db",
				"type": "dev",
				"auth-model": "native"
			}
		},
		"tautulli": {
			"provider": "generic",
			"driver": "sqlite_jdbc",
			"name": "tautulli",
			"save-password": true,
			"navigator-show-only-entities": false,
			"navigator-hide-folders": false,
			"read-only": false,
			"configuration": {
				"database": "${project.path}/db/tautulli.db",
				"type": "dev",
				"auth-model": "native"
			}
		}
	}
}
