<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ containers.radarr4k.port }}</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>6868</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{ api_keys.radarr4k }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>aphrodite</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>Docker</UpdateMechanism>
  <UpdateAutomatically>False</UpdateAutomatically>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>
