#  ___________________________________
# / This file is managed in Ansible's \
# \            users role             /
#  -----------------------------------
#        \   ^__^
#         \  (oo)\_______
#            (__)\       )\/\
#                ||----w |
#                ||     ||

%sudo ALL=(ALL) NOPASSWD:ALL
