[drive]
client_id = {{ rclone.client_id }}
client_secret = {{ rclone.client_secret }}
type = drive
token = {"access_token":"{{ rclone.access_token }}","token_type":"Bearer","refresh_token":"{{ rclone.refresh_token }}","expiry":"{{ rclone.expiry }}"}
root_folder_id = {{ rclone.root_folder_id }}
