+{{ containers.bazarr.subdomain }}/config/*
+{{ containers.bazarr.subdomain }}/db/*
+{{ containers.bazarr4k.subdomain }}/config/*
+{{ containers.bazarr4k.subdomain }}/db/*
+{{ containers.bookstack.subdomain }}/*
+{{ containers.deluge.subdomain }}/*
+{{ containers.duplicacy.subdomain }}/*
+{{ containers.emby.subdomain }}/*
+{{ containers.embystat.subdomain }}/*
+{{ containers.goautoyt.subdomain }}/*
+{{ containers.influxdb.subdomain }}/*
+{{ containers.lazylibrarian.subdomain }}/config*
+{{ containers.lazylibrarian.subdomain }}/lazylibrarian*
+{{ containers.lidarr.subdomain }}/*
+{{ containers.mylar.subdomain }}/*
+{{ containers.mariadb.subdomain }}/*
+{{ containers.nextcloud.subdomain }}/*
+{{ containers.nzbget.subdomain }}/*
+{{ containers.nzbhydra.subdomain }}/*
+{{ containers.ombi.subdomain.0 }}/*
+{{ containers.ombi4k.subdomain.0 }}/*
+{{ containers.organizr.subdomain.0 }}/*
+{{ containers.plex.subdomain.0 }}/*
+{{ containers.portainer.subdomain }}/*
+{{ containers.prometheus.subdomain }}/*
+{{ containers.radarr.subdomain }}/*
+{{ containers.radarr4k.subdomain }}/*
+{{ containers.redis.subdomain }}/*
+{{ containers.sonarr.subdomain }}/*
+{{ containers.sonarr4k.subdomain }}/*
+{{ containers.statping.subdomain.0 }}/*
+{{ containers.tautulli.subdomain }}/*
+{{ containers.tdarr.subdomain }}/*
+{{ containers.traktarr.subdomain }}/*
-*
