+bazarr/config/*
+bazarr/db/*
+bazarr4k/config/*
+bazarr4k/db/*
+bookstack/*
+duplicacy/*
+elk/*
+emby/*
+goautoyt/*
+influxdb/*
+jellyfin/*
+lazylibrarian/config*
+lazylibrarian/lazylibrarian*
+lidarr/*
+mylar/*
+mariadb/*
+nextcloud/*
+nzbget/*
+nzbhydra/*
+ombi/*
+ombi4k/*
+organizr/*
+plex/*
+portainer/*
+prometheus/*
+radarr/*
+radarr4k/*
+sonarr/*
+sonarr4k/*
+tautulli/*
-*
