{
    "storages": [
        {
            "name": "{{ duplicacy.name }}",
            "url": "gcd://{{ duplicacy.remote_folder }}",
            "encrypted": false,
            "credentials": {
                "gcd_token": "{{ duplicacy.gcd_token }}"
            }
        }
    ],
    "computers": [
        {
            "name": "{{ containers.duplicacy.subdomain }}",
            "repositories": [
                {
                    "index": 0,
                    "id": "{{ duplicacy.id }}",
                    "path": "{{ directories.container_root }}",
                    "storage": "{{ duplicacy.name }}",
                    "global_options": "{{ duplicacy.global_options }}",
                    "options": "{{ duplicacy.options }}",
                    "report_url_enabled": false,
                    "report_url": "",
                    "report_url_on_failure": false,
                    "filters": true,
                    "job_log": "",
                    "job_code": "",
                    "job_note": "",
                    "job_time": "0001-01-01T00:00:00Z"
                }
            ]
        }
    ],
    "schedules": [
        {
            "email_password": "{{ duplicacy.email_password_hash }}",
            "name": "{{ duplicacy.backup_name }}",
            "start": "{{ duplicacy.start_time }}",
            "max": "{{ duplicacy.max_run_time }}",
            "frequency": {{ duplicacy.frequency }},
            "days": "{{ duplicacy.days }}",
            "jobs": [
                {
                    "type": "backup",
                    "computer": "{{ containers.duplicacy.subdomain }}",
                    "repository": 0,
                    "source": "{{ directories.container_root }}",
                    "storage": "{{ duplicacy.name }}",
                    "options": "{{ duplicacy.options }}",
                    "parallel": false,
                    "global_options": "{{ duplicacy.global_options }}",
                    "status_code": "",
                    "status_note": "",
                    "status_log": "",
                    "status_time": "0001-01-01T00:00:00Z"
                },
                {
                    "type": "check",
                    "computer": "{{ containers.duplicacy.subdomain }}",
                    "repository": 0,
                    "source": "",
                    "storage": "{{ duplicacy.name }}",
                    "options": "{{ duplicacy.options }}",
                    "parallel": false,
                    "global_options": "{{ duplicacy.global_options }}",
                    "status_code": "",
                    "status_note": "",
                    "status_log": "",
                    "status_time": "0001-01-01T00:00:00Z"
                },
                {
                    "type": "prune",
                    "computer": "{{ containers.duplicacy.subdomain }}",
                    "repository": 0,
                    "source": "",
                    "storage": "{{ duplicacy.name }}",
                    "options": "{{ duplicacy.keep_options }} -id {{ duplicacy.id }} {{ duplicacy.prune_options }}",
                    "parallel": false,
                    "global_options": "{{ duplicacy.global_options }}",
                    "status_code": "",
                    "status_note": "",
                    "status_log": "",
                    "status_time": "0001-01-01T00:00:00Z"
                }
            ],
            "email_enabled": {{ duplicacy.email_enabled }},
            "email_summary": {{ duplicacy.email_summary }},
            "email_server": "{{ mail.smtp_host }}:{{ mail.smtp_port }}",
            "email_username": "{{ mail.smtp_user }}",
            "email_from": "{{ mail.smtp_user }}",
            "email_to": "{{ mail.smtp_user }}",
            "email_subject": "{{ duplicacy.email_subject }}",
            "email_max_lines": 0,
            "email_excluded_logs": ""
        }
    ],
    "encryption_data": "{{ duplicacy.encryption_data }}",
    "cli_version": "",
    "administration_token": "{{ duplicacy.administration_token }}",
    "administration_token_expiration": 604800,
    "license_id": "{{ duplicacy.license_id }}"
}
