{
    "listening_address": ":{{ containers.duplicacy.port }}",
    "https_address": "",
    "https_domain": "{{ containers.duplicacy.subdomain }}.{{ containers.duplicacy.tld }}",
    "temporary_directory": "/var/cache/duplicacy/repositories",
    "log_directory": "/var/log",
    "dark_mode": {{ duplicacy.dark_mode }}
}
