#!/usr/bin/with-contenv bash

# delete lock file if found
[[ -f {{ directories.download_dir }}/nzbget.lock ]] && \
  rm {{ directories.download_dir }}/nzbget.lock

# check if config file exists in /config
[[ ! -f /config/nzbget.conf ]] && \
  cp /defaults/nzbget.conf /config/nzbget.conf

# create tmp and nzb folders
  mkdir /tmp

# symlink mnt and data dirs until queue is empty
  rm -r /mnt
  ln -s {{ directories.data_dir }} /mnt

exec /config/installer/installer.sh
