<?php
$CONFIG = array (
  'htaccess.RewriteBase' => '/',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'apps_paths' => 
    array (
      0 => 
      array (
        'path' => '/config/www/nextcloud/apps',
        'url' => '/apps',
        'writable' => false,
      ),
      1 => 
      array (
        'path' => '/config/www/nextcloud/custom_apps',
        'url' => '/custom_apps',
        'writable' => true,
      ),
    ),
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'datadirectory' => '/config/www/nextcloud/data',
  'instanceid' => '{{ nextcloud.instance_id }}',
  'passwordsalt' => '{{ nextcloud.passwd_salt }}',
  'secret' => '{{ nextcloud.secret }}',
  'trusted_domains' => 
  array (
    0 => '{{ containers.nextcloud.subdomain }}.{{ containers.nextcloud.tld }}',
  ),
  'dbtype' => 'mysql',
  'version' => '19.0.0.12',
  'overwrite.cli.url' => '{{ containers.nextcloud.proto }}://{{ containers.nextcloud.subdomain }}.{{ containers.nextcloud.tld }}',
  'mysql.utf8mb4' => true,
  'installed' => true,
  'dbname' => '{{ containers.nextcloud.subdomain }}',
  'dbhost' => '{{ containers.mariadb.subdomain }}',
  'dbport' => '{{ containers.mariadb.port }}',
  'dbtableprefix' => '',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ containers.nextcloud.subdomain }}',
  'dbpassword' => '{{ mariadb.nextcloud_passwd }}',
  'auth.bruteforce.protection.enabled' => true,
  'mail_smtpmode' => 'smtp',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_sendmailmode' => 'smtp',
  'mail_smtpauth' => 1,
  'mail_smtpsecure' => 'tls',
  'mail_from_address' => '{{ mail.from_address }}',
  'mail_domain' => '{{ mail.domain }}',
  'mail_smtphost' => '{{ mail.smtp_host }}',
  'mail_smtpport' => '{{ mail.smtp_port }}',
  'mail_smtpname' => '{{ mail.smtp_user }}',
  'mail_smtppassword' => '{{ mail.smtp_password }}',
  'trusted_proxies' => 
  array (
    0 => '{{ networks.docker.primary.subnet }}',
  ),
  'twofactor_enforced' => 'false',
  'twofactor_enforced_groups' => 
    array (
      0 => 'admin',
      1 => 'Books',
    ),
  'twofactor_enforced_excluded_groups' => 
    array (
    ),
  'app_install_overwrite' => 
    array (
      0 => 'files_reader',
    ),
);
