<?php
$CONFIG = array (
  'htaccess.RewriteBase' => '/',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/var/www/html/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/www/html/custom_apps',
      'url' => '/custom_apps',
      'writable' => true,
    ),
  ),
  'passwordsalt' => '{{ mariadb.nextcloud_passwd_salt }}',
  'secret' => '{{ mariadb.nextcloud_secret }}',
  'trusted_domains' => 
  array (
    0 => '{{ containers.nextcloud.subdomain }}.{{ containers.nextcloud.tld }}',
  ),
  'datadirectory' => '/var/www/html/data',
  'dbtype' => 'mysql',
  'version' => '16.0.1.1',
  'overwrite.cli.url' => 'http://localhost',
  'dbname' => '{{ containers.nextcloud.subdomain }}',
  'dbhost' => '{{ containers.mariadb.subdomain }}:{{ containers.mariadb.port }}',
  'dbport' => '',
  'dbtableprefix' => '',
  'instanceid' => 'ocxq50pzn0eg',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ containers.mariadb.subdomain }}',
  'dbpassword' => '{{ mariadb.nextcloud_db_passwd }}',
  'installed' => true,
  'mail_smtpmode' => 'smtp',
  'mail_smtpauthtype' => 'LOGIN',
  'mail_sendmailmode' => 'smtp',
  'mail_smtpauth' => 1,
  'mail_smtpsecure' => 'tls',
  'mail_from_address' => '{{ mail.from_address }}',
  'mail_domain' => '{{ mail.domain }}',
  'mail_smtphost' => '{{ mail.smtp_host }}',
  'mail_smtpport' => '{{ mail.smtp_port }}',
  'mail_smtpname' => '{{ mail.smtp_user }}',
  'mail_smtppassword' => '{{ mail.smtp_password }}',
  'twofactor_enforced' => 'false',
  'twofactor_enforced_groups' => 
  array (
    0 => 'admin',
    1 => 'Books',
  ),
  'twofactor_enforced_excluded_groups' => 
  array (
  ),
  'app_install_overwrite' => 
  array (
    0 => 'files_reader',
  ),
);
