#!/usr/bin/with-contenv bash

# Install python3, pip3 and sqlite3
apt-get update
apt-get install -y python3 python3-pip sqlite3 # Required for plex scripts
pip3 install --upgrade pip
pip3 install requests # Required for plex scripts
